.test-option {
  text-align: left;
  width: 22%;
  margin: 10px auto;
}
.result-button {
  margin: 300px auto;
  display: block;
}
.test-buttons {
  margin-left: 722px;
}

.test-buttons button {
  margin: 10px;
  width: 70px;
  height: 30px;
  font-size: 15px;
}
